
{%- for post in postslist | reverse -%}
<header>
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p class="subtitle">{{ post.data.subtitle }}</p>
    <p class="subtitle">
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
        {% if post.data.dateformat == 'Year' %}
            {{ post.date | dateFormatYear }}
        {% elif post.data.dateformat == 'MonthYear' %}
            {{ post.date | dateFormatMonthYear }}
        {% else %}
            {{ post.date | dateFormat }}
        {% endif %}
        </time>
    </p>
</header>
{{ post.data.description }}
{%- endfor -%}