html.rad {
    --hue: 0;
    --sat: 100%;
    --lit: 70%;

    --primary: hsl(var(--hue), var(--sat), var(--lit));
    --secondary: hsl(calc(var(--hue) - 120), var(--sat), var(--lit));
    --tertiary: hsl(calc(var(--hue) + 120), var(--sat), var(--lit));


    background-color: var(--primary);
    color: var(--primaryText);

    font-family: serif;
    font-size: 1.5em;

    a {
        color: inherit;
        text-decoration-color: var(--tertiary);
    }

    p, ul, dl {
        background-color: var(--secondary);
        color: var(--secondaryText);
        a { text-decoration-color: var(--primary); }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: sans-serif;
        display: inline-block;

        background-color: var(--tertiary);
        color: var(--tertiaryText);
        a { text-decoration-color: var(--secondary); }
    }

    h1 { font-size: 3rem;}
    h2 { font-size: 2.5rem;}
    h3 { font-size: 2rem;}
    h4 { font-size: 1.5rem;}
    h5 { font-size: 1.25rem;}
    h6 { font-size: 1rem;}
    h1, h2 { margin-block-start: 1rem; margin-block-end: 1rem; }
    h3, h4, h5, h6 { margin-block-start: 1.33rem; margin-block-end: 1.33rem; }
}