<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js';
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">

  <title>DC - {{ renderData.title or title or metadata.title }}</title>

  <link rel="stylesheet" href="/styles/base.css">
</head>

<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <header>
    <h1 class="home"><a href="{{ '/' | url }}">Darius Cepulis</a></h1>
  </header>
  {{ content | safe }}
  <script src="/scripts/base.js"></script>
</body>
</html>
