---
permalink: /posts/
layout: layouts/base.njk
---
<h1>Post Tags</h1>

<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/posts/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>
