---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/base.njk
renderData:
  title: "{{ tag | capitalize  }}"
permalink: /posts/{{ tag }}/
---
<h1>{{ tag | capitalize  }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}  